# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
!source/data/bin/.gitkeep
source/data/bin

# Metadata
*.aliases
*.lvlps
.cache/

# Deplyoment binaries/files
!build/.gitkeep
!distribution/working/.gitkeep
!distribution/archive/.gitkeep
distribution/vipm/*
distribution/archive/*
distribution/working/*
build
source/data/bin/*.*

